@charset "utf-8";
body {
 background-color: #000000;
 color: #ff0000;
 font-family: Arial, Helvetica, sans-serif;
}
h1 {
 background-color: #fa0404;
 color: #000000;
 font-family: Georgia, 'Times New Roman', Times, serif;
 line-height: 200%;
 text-shadow: 6px 6px 6px #000000;
}
h2 {
 background-color: #fe0404;
 color: #000000;
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: center;
}
p {
 font-size: 0.99em;
 text-indent: 3em;
}
ul { 
font-family: sans-serif ;
font-size:large;
}
footer {
 font-family:'Lucida Sans',;
 color: #ff0000;
 font-size: 0.99em;
 font-style: italic;
}
a{color: aqua;
font-size:large;
font-style: oblique;}
